@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

*{
  font-family: Outfit;
}

.font-playfair{
  font-family: Playfair !important;
}

.w-1293px{
  width: 1293px;
}

.lleft-225px{
  left:225px
}

.md\:lleft-343px {
    @media (width >= 48rem /* 768px */) {
        left: calc(var(--spacing) * 64) /* 1rem = 16px */;
    }
}
.lleft-275px{
    @media (width >= 48rem /* 768px */) {
         left: calc(var(--spacing) * 54) /* 1rem = 16px */;
    }
}
.md\:lleft-274px {
    @media (width >= 48rem /* 768px */) {
        left: calc(var(--spacing) * 64) /* 1rem = 16px */;
    }
}
.lleft-276px{
    @media (width >= 48rem /* 768px */) {
         left: calc(var(--spacing) * 68) /* 1rem = 16px */;
    }
}